<div class="login-container">

  <div class="Welcoming">
    <h2>Bem-vindo!</h2>
    <p>Entre com seu usuário e senha para começar a organizar suas atividades.
        Registre e monitore o que precisa ser e o que foi feito.<br>
        Planeje-se e cumpra o que necessita.
    </p>
</div>
  <div class="login-card">
    <h2>Login</h2>
    <p class="subtitle">Entre com sua conta</p>

    <div *ngIf="loginSuccess" class="alert alert-success">
      Login realizado com sucesso!
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="userName">Nome de usuário </label>
        <input type="text"
               id="userName"
               formControlName="userName"
               class="form-control"
               [class.is-invalid]="submitted && f['userName'].errors"
               placeholder="Digite seu nome de usuário"
               [disabled]="isLoading">
        <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
          <div *ngIf="f['userName'].errors['required']">Nome de usuário é obrigatório</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password"
               id="password"
               formControlName="password"
               class="form-control"
               [class.is-invalid]="submitted && f['password'].errors"
               placeholder="Digite sua senha"
               [disabled]="isLoading">

        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Senha é obrigatória</div>
        </div>
      </div>

      <button type="submit" class="btn-login" [disabled]="isLoading">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
        {{ isLoading ? 'Entrando...' : 'Login'}}
      </button>
    </form>

    <div class="login-link">
      Ainda não tem uma conta? <a routerLink="register">Registre-se</a>
    </div>
  </div>
</div>
